span.folder-img{
	background-image:url('./img/Folder-icon.png');
	height: 40px;
	width: 40px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display:block;
}

a.folder-listing {
	display: inline-block;
	padding: 20px;
	text-decoration: none;
	border-bottom: none;
}